# Terraform local/state files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local variable files (can contain secrets)
terraform.tfvars
*.auto.tfvars
e/
