cidr_block             = "10.0.0.0/16"
project_name           = "togglemaster_project"
db_user                = "toggle_master"
db_password            = "CHANGE_ME"
master_key             = "CHANGE_ME"
aws_account_id         = "123456789012"
enable_argocd          = true
enable_workloads       = false
gitops_repo_url        = "https://github.com/seu-usuario/seu-repo.git"
gitops_target_revision = "main"
service_api_key        = "CHANGE_ME"
